---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts.js';

import {getArticles} from '../../lib/api.js';
import Card from '../../layouts/Cardsq.astro';


export async function getStaticPaths( { paginate } ) {
  const data = await getArticles(1207);
  return paginate(data, { pageSize: 9 });
}

interface Props{
  page: any;  
}

const {page=[]} = Astro.props;
---
<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} seccion="Eventos" description={SITE_DESCRIPTION} />
		
	</head>
	<body>
		<Header title={SITE_TITLE} />
		
		<main>
      <div class="container my-12 mx-auto px-4 md:px-12">
				<h1 class="py-4 font-bold [text-shadow:2px_2px_3px_rgb(88_29_135_/_64%)]">Eventos</h1>
        <section class="flex flex-wrap -mx-4">
          {
            page.data.map((post:any) => ( 
            <>
              <Card post={post} />
            </>
            ))
          }
        </section>
        <div class="text-center mt-20">
          {page.url.prev && <a href={page.url.prev}>
            <button class="group relative h-8 w-36 overflow-hidden rounded-lg bg-gray-100 text-base shadow">
              <div class="absolute inset-y-0 right-0 w-3 bg-pink-600 transition-all duration-[250ms] ease-out group-hover:w-full"></div>
              <span class="relative text-black group-hover:text-white">Anterior</span>
            </button>
          </a>}
          {page.url.next && <a href={page.url.next}>
            <button class="group relative h-8 w-36 overflow-hidden rounded-lg bg-gray-100 text-base shadow">
              <div class="absolute inset-0 w-3 bg-pink-600 transition-all duration-[250ms] ease-out group-hover:w-full"></div>
              <span class="relative text-black group-hover:text-white">Siguiente</span>
            </button>
          </a>}
        </div>
      </div>  
		</main>
		<Footer />
	</body>
</html>