---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts.js';

import {getArticles} from '../../lib/api.js';
import Card from '../../layouts/Cards.astro';


export async function getStaticPaths( { paginate } ) {
  const data = await getArticles(537);  
  return paginate(data, { pageSize: 10 });
}

interface Props{
  page: any;  
}

const {page=[]} = Astro.props;
console.log(page.data);
---
<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} seccion="Promociones" description={SITE_DESCRIPTION} />
		
	</head>
	<body>
		<Header title={SITE_TITLE} />
		
		<main>
      <div class="container my-12 mx-auto px-4 md:px-12">
				<h1 class="audiowide neon-azul text-center md:text-left pt-4 font-bold text-4xl md:text-5xl lg:text-4xl xl:text-5xl">Promociones</h1>
        <section class="flex flex-wrap -mx-4">
          {
          page.data.map((post:any) => ( 
            <>
            <Card post={post} />
            </>
          ))
          }
        </section>
          <div class="text-center">
            {page.url.prev && <a href={page.url.prev}>
              <button class="ver-mas group relative h-8 w-36 m-4 overflow-hidden rounded-lg bg-zinc-700 text-base shadow">
                <div class="absolute inset-y-0 right-0 w-3 bg-[#09e6f1] transition-all duration-[250ms] ease-out group-hover:w-full"></div>
                <span class="relative text-zinc-200 group-hover:text-zinc-900">Anterior</span>
              </button>
            </a>}
            {page.url.next && <a href={page.url.next}>
              <button class="ver-mas group relative h-8 w-36 m-4 overflow-hidden rounded-lg bg-zinc-700 text-base shadow">
                <div class="absolute inset-0 w-3 bg-[#09e6f1] transition-all duration-[250ms] ease-out group-hover:w-full"></div>
                <span class="relative text-zinc-200 group-hover:text-zinc-900">Siguiente</span>
              </button>
            </a>}
          </div>
      </div>  
		</main>
		<Footer />
	</body>
</html>