---
import { Image } from 'astro:assets';

export interface Props {
    post: {
      id: number;
      imagePath: string;
      title: {
         rendered: string;
      }
      content: {
        rendered: string;
      }
      acf: {
        itunes: string;
        apple_music: string;
        spotify: string;
        deezer: string;
        amazon_music: string;
        tidal: string;
        youtube_music: string;
      }
      slug: string;
      categories : {};
      yoast_head_json: {
         og_image: [
            {
               url: string;
            }
         ]
         article_published_time: string;
         author:string;         
      }
    };

    
    
}

const { post } = Astro.props;



var url_seccion;

---

<div class="card w-full p-2 md:p-4 pb-4 content-video">
    <div class="overflow-hidden bg-black text-white rounded-lg shadow-[0_35px_60px_-15px_rgba(255,255,255,0.3)]">
        <div class="flex flex-wrap justify-center justify-items-center items-center">
            <Image class="block h-auto w-1/2 shadow-[0_2px_12px_7px_rgba(0,0,0,0.4)] rounded object-fill" src={post.yoast_head_json.og_image[0].url} width="250" height="250" alt={post.title.rendered}  />
            <div class="w-1/2 p-4 grid text-center align-middle">
                {post.acf.apple_music &&<a target="_blank" href={`${post.acf.apple_music}`}><Image class="block m-auto max-w-28 my-2" src="https://storage.googleapis.com/nrm-web/beat/resources/img/beatrecording/applemusic-200x60.png" width="164" height="51" alt="Apple Music"></a>}
                {post.acf.spotify &&<a target="_blank" href={`${post.acf.spotify}`}><Image class="block m-auto max-w-28 my-2" src="https://storage.googleapis.com/nrm-web/beat/resources/img/beatrecording/spotify-200x60.png" width="164" height="52" alt="Spotify"></a>}
                {post.acf.deezer &&<a target="_blank" href={`${post.acf.deezer}`}><Image class="block m-auto max-w-28 my-2" src="https://storage.googleapis.com/nrm-web/beat/resources/img/beatrecording/deezer-200x60.png" width="164" height="64" alt="Deezer"></a>}
                {post.acf.amazon_music &&<a target="_blank" href={`${post.acf.amazon_music}`}><Image class="block m-auto max-w-28 my-2" src="https://storage.googleapis.com/nrm-web/beat/resources/img/beatrecording/amazon-200x60.png" width="410" height="82" alt="Amazon Music"></a>}
                {post.acf.tidal &&<a target="_blank" href={`${post.acf.tidal}`}><Image class="block m-auto max-w-28 my-2" src="https://storage.googleapis.com/nrm-web/beat/resources/img/beatrecording/tidal-200x60.png" width="160" height="22" alt="Tidal"></a>}
                {post.acf.youtube_music &&<a target="_blank" href={`${post.acf.youtube_music}`}><Image class="block m-auto max-w-28 my-2" src="https://storage.googleapis.com/nrm-web/beat/resources/img/beatrecording/yt-200x60.png" width="90" height="20" alt="YouTube Music"></a>}
            </div>
        </div>        
        <div class="flex items-center justify-center p-2 md:p-4 min-h-40">            
            <!--span class="audiowide neon-rosa px-4 text-4xl" set:html={ind}></span-->
            <h2 class="text-2xl text-[#09e6f1] font-bold" set:html={post.title.rendered}></h2>
        </div>
    </div>
</div>

