---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { Tabs } from 'astro-tabs';

const res = await fetch("https://stereociendigital.mx/wp-json/wp/v2/posts?_embed&per_page=80&_fields=title,content,acf,yoast_head_json&categories=515&filter[orderby]=acf[inicio]&order=asc");
const posts = await res.json();

posts.sort(function(a, b){
    //return a.acf.hora_inicio < b.acf.hora_inicio;    
    return ((a.acf.hora_inicio > b.acf.hora_inicio) ? 1 : (a.acf.hora_inicio < b.acf.hora_inicio) ? -1 : 0);
});
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} seccion="Programación" description={SITE_DESCRIPTION} />
		<meta charset="utf-8"/>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		
		<main>
            <div class="container my-12 mx-auto px-4 md:px-12">
				<h1 class="audiowide neon-rosa text-center md:text-left py-4 font-bold text-4xl md:text-5xl lg:text-4xl xl:text-5xl">Programación</h1>
                <div class="flex flex-col lg:flex-row">
                    <div class="sm:min-w-[calc(100%-400px)]">
                        <Tabs class="programacion" class:list={['programacion']}>
                            <Fragment slot="tab-1">Lun</Fragment>
                            <Fragment slot="tab-2">Mar</Fragment>
                            <Fragment slot="tab-3">Mié</Fragment>
                            <Fragment slot="tab-4">Jue</Fragment>
                            <Fragment slot="tab-5">Vie</Fragment>
                            <Fragment slot="tab-6">Sáb</Fragment>
                            <Fragment slot="tab-7">Dom</Fragment>
                                
                            <Fragment slot="panel-1">
                                <section>
                                {
                                    posts.map((post:any) => (
                                        post.acf.lunes && <div class="flex items-center min-h-24 p-4">
                                            <div class="w-1/4 md:w-1/6 text-xl sm:text-2xl md:text-3xl font-bold text-center text-gray-500">{post.acf.hora_inicio.substring(0, 5)}</div>
                                            <div class="w-1/6 max-[640px]:hidden"><img class="block h-auto w-full rounded object-fill" src={post.yoast_head_json.og_image[0].url} alt={post.title.rendered} /></div>
                                            <div class="w-3/4 md:w-4/6 p-4">
                                                <p class="font-bold uppercase leading-none m-0 text-xl">{post.acf.programa}</p>
                                                <div class="leading-none m-0 max-[640px]:hidden" set:html={post.content.rendered}></div>
                                            </div>
                                        </div>
                                    ))
                                }
                                </section>
                            </Fragment>

                            <Fragment slot="panel-2">
                                <section>
                                {
                                    posts.map((post:any) => (
                                        post.acf.martes && <div class="flex items-center min-h-24 p-4">
                                            <div class="w-1/4 md:w-1/6 text-xl sm:text-2xl md:text-3xl font-bold text-center text-gray-500">{post.acf.hora_inicio.substring(0, 5)}</div>
                                            <div class="w-1/6 max-[600px]:hidden"><img class="block h-auto w-full rounded object-fill" src={post.yoast_head_json.og_image[0].url} alt={post.title.rendered} /></div>
                                            <div class="w-3/4 md:w-4/6 p-4">
                                                <p class="font-bold uppercase leading-none m-0 text-xl">{post.acf.programa}</p>
                                                <div class="leading-none m-0 max-[640px]:hidden" set:html={post.content.rendered}></div>
                                            </div>
                                        </div>
                                    ))
                                }
                                </section>
                            </Fragment>

                            <Fragment slot="panel-3">
                                <section>
                                {
                                    posts.map((post:any) => (
                                        post.acf.miercoles && <div class="flex items-center min-h-24 p-4">
                                            <div class="w-1/4 md:w-1/6 text-xl sm:text-2xl md:text-3xl font-bold text-center text-gray-500">{post.acf.hora_inicio.substring(0, 5)}</div>
                                            <div class="w-1/6 max-[600px]:hidden"><img class="block h-auto w-full rounded object-fill" src={post.yoast_head_json.og_image[0].url} alt={post.title.rendered} /></div>
                                            <div class="w-3/4 md:w-4/6 p-4">
                                                <p class="font-bold uppercase leading-none m-0 text-xl">{post.acf.programa}</p>
                                                <div class="leading-none m-0 max-[640px]:hidden" set:html={post.content.rendered}></div>
                                            </div>
                                        </div>
                                    ))
                                }
                                </section>
                            </Fragment>
                            
                            <Fragment slot="panel-4">
                                <section>
                                {
                                    posts.map((post:any) => (
                                        post.acf.jueves && <div class="flex items-center min-h-24 p-4">
                                            <div class="w-1/4 md:w-1/6 text-xl sm:text-2xl md:text-3xl font-bold text-center text-gray-500">{post.acf.hora_inicio.substring(0, 5)}</div>
                                            <div class="w-1/6 max-[600px]:hidden"><img class="block h-auto w-full rounded object-fill" src={post.yoast_head_json.og_image[0].url} alt={post.title.rendered} /></div>
                                            <div class="w-3/4 md:w-4/6 p-4">
                                                <p class="font-bold uppercase leading-none m-0 text-xl">{post.acf.programa}</p>
                                                <div class="leading-none m-0 max-[640px]:hidden" set:html={post.content.rendered}></div>
                                            </div>
                                        </div>
                                    ))
                                }
                                </section>
                            </Fragment>
                            
                            <Fragment slot="panel-5">
                                <section>
                                {
                                    posts.map((post:any) => (
                                        post.acf.viernes && <div class="flex items-center min-h-24 p-4">
                                            <div class="w-1/4 md:w-1/6 text-xl sm:text-2xl md:text-3xl font-bold text-center text-gray-500">{post.acf.hora_inicio.substring(0, 5)}</div>
                                            <div class="w-1/6 max-[600px]:hidden"><img class="block h-auto w-full rounded object-fill" src={post.yoast_head_json.og_image[0].url} alt={post.title.rendered} /></div>
                                            <div class="w-3/4 md:w-4/6 p-4">
                                                <p class="font-bold uppercase leading-none m-0 text-xl">{post.acf.programa}</p>
                                                <div class="leading-none m-0 max-[640px]:hidden" set:html={post.content.rendered}></div>
                                            </div>
                                        </div>
                                    ))
                                }
                                </section>
                            </Fragment>
                            
                            <Fragment slot="panel-6">
                                <section>
                                {
                                    posts.map((post:any) => (
                                        post.acf.sabado && <div class="flex items-center min-h-24 p-4">
                                            <div class="w-1/4 md:w-1/6 text-xl sm:text-2xl md:text-3xl font-bold text-center text-gray-500">{post.acf.hora_inicio.substring(0, 5)}</div>
                                            <div class="w-1/6 max-[600px]:hidden"><img class="block h-auto w-full rounded object-fill" src={post.yoast_head_json.og_image[0].url} alt={post.title.rendered} /></div>
                                            <div class="w-3/4 md:w-4/6 p-4">
                                                <p class="font-bold uppercase leading-none m-0 text-xl">{post.acf.programa}</p>
                                                <div class="leading-none m-0 max-[640px]:hidden" set:html={post.content.rendered}></div>
                                            </div>
                                        </div>
                                    ))
                                }
                                </section>
                            </Fragment>
                           
                            <Fragment slot="panel-7">
                                <section>
                                {
                                    posts.map((post:any) => (
                                        post.acf.domingo && <div class="flex items-center min-h-24 p-4">
                                            <div class="w-1/4 md:w-1/6 text-xl sm:text-2xl md:text-3xl font-bold text-center text-gray-500">{post.acf.hora_inicio.substring(0, 5)}</div>
                                            <div class="w-1/6 max-[600px]:hidden"><img class="block h-auto w-full rounded object-fill" src={post.yoast_head_json.og_image[0].url} alt={post.title.rendered} /></div>
                                            <div class="w-3/4 md:w-4/6 p-4">
                                                <p class="font-bold uppercase leading-none m-0 text-xl">{post.acf.programa}</p>
                                                <div class="leading-none m-0 max-[640px]:hidden" set:html={post.content.rendered}></div>
                                            </div>
                                        </div>
                                    ))
                                }
                                </section>
                            </Fragment>
                        </Tabs>
                    </div>
                    <!--div class="bg-gray-300 p-5 rounded-md sm:min-w-[350px] relative text-center md:text-left">
                        <div class="sticky top-0 left-0 right-0">
                            <h3 class="text-xl text-black font-extrabold">PUBLICIDAD</h3>
                            <BoxBanner />
                            </br>
                            <DoubleBox />
                        </div>
                    </div-->
                </div>
            </div>
		</main>
		<Footer />
	</body>
</html>
